.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.heading-small{
    font-size: 1.25em;
}
.heading-medium{
    font-size: 1.5em;
}
.heading-big{
    font-size: 1.75em;
}

.bg-dark-blue{
    background: #062e51;
}
.bg-light-blue{
    background: #336ea2;
}

.social-set{
    font-size: 1.20em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}