* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-family: "Open Sans", sans-serif;
}


/* nav bar */

#nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
}

#nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#nav ul li a {
    padding: 0.50rem;
}

#nav ul li a:hover {
    background: #336ea2;
    border-radius: 4px;
}


/* home */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: aliceblue;
    border-bottom: 1px solid gray;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2 {
    font-size: 1.75em;
    letter-spacing: 3px;
}

#home .name p {
    font-size: 1.25em;
    opacity: 0.9;
    font-style: italic;
}


/* social */

#home .social-top {
    padding-top: 0.8em;
}

#home .social-top a {
    padding: 0.40em;
}

#home .social-top .linkedin:hover {
    transition: ease .3s;
    color: #0A66C2;
}

#home .social-top .instagram:hover {
    transition: ease .3s;
    color: #B43491;
}

#home .social-top .twitter:hover {
    transition: ease .3s;
    color: #1DA1F2;
}

#home .social-top .github:hover {
    transition: ease .3s;
    color: #0D1117;
}


/* tryhackme */

.tryhackme {
    margin: 1em;
}

.tryhackme .thm_line {
    line-height: 0.2em;
    margin: 0em;
}


/* main*/

#main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

#main .items .item {
    width: 33%;
    min-height: 17em;
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0em 1em;
}

#main .items .item i {
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
}

#main .items .item h3 {
    margin: 0.5em 0;
}

#main .items .item p {
    margin-bottom: 2em;
}

#main .items .item a {
    background: #0A66C2;
    padding: 0.5em 1em;
    border-radius: 4px;
}


/* Contact */

#contact {
    color: white;
    padding: 2em 2em;
}

#contact ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 3em;
}

#contact ul li a {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

#contact ul li {
    display: flex;
    padding: 0 5em;
}

#contact ul li .size {
    font-size: 1.5em;
    margin-right: 0.26em;
}

#contact ul li .ph img {
    width: 50%;
    min-height: auto;
    border-radius: 100%;
    float: right;
}

#contact .go-up {
    display: flex;
    align-self: center;
}

#contact .tab {
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 2%;
    font-size: 3em;
}

#contact .copyright {
    margin: 2em;
}